version: '3'

services:
  go:
    build:
      context: .
      dockerfile: ./containers/go/Dockerfile
    tty: true
    volumes:
      - ./go:/go/src
  next:
    build:
      context: .
      dockerfile: ./containers/nextjs/Dockerfile
    tty: true
    volumes:
      - ./next:/nextjs
      - /nextjs/node_modules
      - /nextjs/.next
    ports:
      - 80:3000
    environment:
      - WATCHPACK_POLLING=true
  db:
    build:
      context: .
      dockerfile: ./containers/db/Dockerfile
    env_file: ./containers/db/.env
    ports:
      - 3306:3306
    volumes:
      - ./database:/home/database
      - DB-data:/var/lib/mysql

volumes:
  DB-data:
